<!DOCTYPE html>
<html>
  <head>
    <title>Home | yMatch</title>
  </head>
  <body>
    <h1>yMatch</h1>
    <p>
      This is the home page for the
  yMatch application for the community Yackathon in Montreal.
    </p>
  </body>
</html>
